/*-------- link decor----------*/
a:link{text-decoration: none;}
a:visited{text-decoration: none;}

/*---------- local fonts---------*/
@font-face {
    font-family: ogg;
    src:url("fonts/ogg roman.otf");
}
@font-face {
    font-family: ordinary;
    src:url("fonts/ordinary-textlight.otf");
}


.bg{
    height: 1600px;
    background-image: url('picture/bg01noiseout.gif');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3D3D3D;
    margin: 0;
    padding: 0;
    z-index:-10;
    overflow: hidden;

}

.bg02{
    background-color: #514945;
    height:3800px;
    padding: 0;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* position: fixed; */
    z-index:-10;

}

 /* #myVideo {
position: fixed;
z-index:-10;
} */

.bg03{
  height: 900px;
  background-image: url('');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #AE7839;
  margin: 0;
  padding: 0;
  z-index:-10;
  overflow: hidden;

}

.restart{
  color:#FAFF1A;
  position: fixed;
  left:2%;
  top:95%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.back{
  color:#FAFF1A;}

.restart:hover{
  text-decoration: underline;
}
.upicon{
  position:fixed;
  position: fixed;
  left:96%;
  top:93%;
}
/* .circle {
  position: fixed;
  left:95%;
  top:93%;
  border: 1px solid #FAFF1A;
  width: 40px;
  height: 40px;
  border-radius: 50%
} */






/*----------material page------------*/

body{
  position: relative;
  margin:0px;
  min-width: 960px;
  overflow-x:hidden;

}

h1{
  color:#FAFF1A;
   position: fixed;
   width:100%;
   text-align: center;
   font-family: 'ogg','Montserrat', sans-serif;
   font-weight: 300;
   font-size: 30px;
   letter-spacing: 1px;
   min-width: 960px;
   padding: 0;
   z-index:4;
}
h1:hover{
   color:#ffffff;

}
p{
   margin: 0;
   text-align: center;
}
